
body {
    font-family: 'Amatic SC';
    z-index: 1;
    overflow: hidden; 
    background-color: black;
}

.bckg {
    z-index: -1;

    position: fixed;
    top: 0px;
    left: 0px;
}

.hidden {
    display: none;
}

/*Main Menu*/

.GameTitle {
    color: white;
    text-align: center;
    font-size: 4em;
    
    position: fixed;
    left: 50%;
    transform: translateX(-50%);

    white-space: nowrap;
}


.MenuBox {
    display: flex;

    border: 2px solid white;
    width: 20%;

    flex-direction: column;
    justify-content: center;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    padding: 1em;
}

.MenuBox button:not(:first-child) {
    margin-top: 1em;
}



/*Submenu-Container*/
.Container {
    z-index: 2;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: gray;

    padding: 2em;
}

