@font-face {
	font-family: "Covered By Your Grace";
	src: url("../CoveredByYourGrace-Regular.ttf") format("truetype");
}

* {
	font-family: "Covered By Your Grace";
}

@supports (-webkit-appearance: none) or (-moz-appearance: none){
	input[type="text"],
	input[type="password"]{
		-webkit-appearance: none;
		-moz-appearance: none;
	}
}

.picker {width: 4cm; height: 4cm; margin-right: 8px;}
.slide {width: 1cm; height: 4cm;}

.margin8 {
	margin-top: 8px;
	margin-bottom: 8px;
}
.margin12Full {
	margin: 12px !important;
}

.text4 {
	font-size: 175%;
	color: #fcac34;
}
.text3 {
	font-size: 150%;
	color: #fcac34;
}
.text2, .button {
	font-size: 125%;
	color: #fcac34;
}
.text1, .cycler, .inputBig input[type="text"], .inputBig input[type="password"], .sandwich {
	font-size: 100%;
	color: #fcac34;
}
.text0 {
	font-size: 85%;
	color: #fcac34;
}
.text-1 {
	font-size: 60%;
	color: #fcac34;
}

.underline {
	text-decoration: underline;
}

.nowrap {
	white-space: pre;
}

html {
	font-size: 150%;
}

body {
	overflow: hidden;
	margin-left: 0px;
	margin-top: 0px;
	background-color: #272424;
	background-size: auto 100%;
	background-attachment: fixed;
	background-position: center top;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Chrome/Safari/Opera */
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

.flexCol {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flexRow {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.centerScreen {
	position: fixed;
	top: 46%;
	left: 50%;
	transform: translate(-50%, -50%);
	transform-origin: top left;
}

.close {
	position: absolute;
	top: 0.3cm;
	right: 0.3cm;
	width: 0.8cm;
	height: 0.8cm;
	border-radius: 0.3cm;
	border: 3px solid #afd245;
	background-repeat: no-repeat;
	background-size: 100%;
	transition: 200ms;
}
.close:hover {
	background-color: #ccc0c054;
}
.close:active{
	background-color: #ffffff80;
}

.button {
	display: block;
	min-width: 3cm;
	margin: 8px;
	padding-left: 8px;
	padding-right: 8px;
	border: 2px solid #afd245;
	transition: 200ms;
	background-color: #272424ff;
	outline: none;
	text-align: center;
}
.button:hover {
	background-color: #ccc0c054;
}
.button:active {
	background-color: #ffffff80;
}

.cycler {
	background-color: #393636;
	border-radius: 4px;
	padding-left: 8px;
	padding-right: 8px;
	cursor: pointer;
	margin-left: 6px;
	margin-right: 6px;
	transition: 200ms;
}
.cycler:hover {
	background-color: #696363;
}

#MainMenu {
	display: none;
	background-color: #272424ff;
	padding: 1cm;
}

#authBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	width: 13cm;
	max-width: 75vw;
	background-color: #272424ff;
}
#authBox * {
	margin-top: 16px;
}
#authBox input {
	max-width: 90%;
}

#newGame, #joinGame {
	display: none;
}




.checkboxUnchecked {
	background-color: #545454;
	transition: 100ms;
	border-radius: 50%;
	margin: 0px !important;
}

.checkboxUnchecked:hover {
	background-color: #686868;
}

.checkboxChecked {
	transition: 200ms;
	opacity: 0;
	background-color: #8ba04c;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	margin: 0px !important;
}

.checkmark {
	width: 100%;
	height: 100%;
	margin: 0px !important;
}

.checkboxLabel {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	margin-right: 0px !important;
	margin-left: 10px;
}




.inputBig input[type="text"], input[type="password"] {
	background-color: transparent;
	width: 6cm;
	max-width: 75vw;
	text-align: center;
	margin: 8px;
	padding-right: 1cm;
	padding-left: 1cm;
	border: none;
	border-bottom: 2px solid #afd245;
	outline: none;
	transition: 200ms;
}
.inputBig input:hover {
	background-color: #ccc0c02f;
}
.inputBig input:focus {
	border-bottom: 2px solid #e1ff77;
}
.inputBig input:-webkit-autofill {
	-webkit-text-fill-color: #fcac34 !important;
	-webkit-box-shadow: 0 0 0 50px #272424 inset !important;
	box-shadow: 0 0 0 50px #272424 inset !important;
	background-clip: content-box !important;
}

.indicator {
	position: fixed;
	display: none;
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 2;
}

.sandwichLike {
	display: none;
	position: absolute;
	left: 50%;
	color: #fcac34;
	border-radius: 25px;
	text-align: center;
	background: #545454;
	height: auto;
	width: auto;
	padding-left: 1.5cm;
	padding-right: 1.5cm;
	padding-top: 0.2cm;
	padding-bottom: 0.2cm;
	transform: translate(-50%, 0px);
	align-items: center;
}
#sandwich div {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
}
#sandwich span {
	width: 100%;
}
#loader {
	left: 15px;
	border-top: 6px solid #fcac34;
	border-bottom: 0px solid #fcac34;
	border-radius: 50%;
	width: 18px;
	height: 18px;
	animation: spin 0.3s linear infinite;
}
@keyframes spin {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

#gameInfoDiv {
	color: #fcac34;
	margin-left: 8px;
	margin-top: 8px;
}
#p0_info, #p1_info {
	width: 30%;
}
#gameControlsContainer {
	width: 40%;
}
#gameControls {
	background-color: #272424e0;
	border-radius: 20px;
	padding: 0.2cm;
}
#p0_turnIndicator, #p1_turnIndicator {
	position: absolute;
	top: 0px;
	height: 50%;
	width: 50%;
	transition: 250ms;
	opacity: 0;
	z-index: -1;
}
#p0_turnIndicator {
	left: 0px;
	background: radial-gradient(farthest-side at 0px 0px, #fcac3480, transparent);
}
#p1_turnIndicator {
	right: 0px;
	background: radial-gradient(farthest-side at 100% 0px, #fcac3480, transparent);
}
#p0_photo, #p1_photo {
	width: 4cm;
	max-width: 40%;
	cursor: pointer;
}
#spectatorAlert {
	top: 0.4cm;
	z-index: 2;
}

.popup {
	background-color: #272424;
	border: 3px solid #c0c0c0;
	border-radius: 18px;
	padding: 1cm;
	box-shadow: 0 0 12px 8px #404040;
	z-index: 1;
	max-width: calc(92vw - 2cm);
	max-height: 80vh;
	overflow-y: auto
}

.photoChoice {
	width: 1.8cm;
	height: 1.8cm;
	margin: 2px;
	transition: border-color 200ms;
}
.photoChoice:hover {
	border: 2px solid #c0c0c0 !important;
	margin: 0px;
}
.photoChoice[selected="true"] {
	border: 2px solid #afd245;
	margin: 0px !important;
}


input[type="file"] {
    display: none;
}
.custom-file-upload {
	border: 2px solid #afd245;
	border-radius: 3px;
    display: inline-block;
    padding: 6px 12px;
	cursor: pointer;
	transition: 200ms;
}
.custom-file-upload:hover {
	background-color: #ffffff18;
}

.settingsFeatures {
	width: 100%;
	align-items: flex-start;
	transition: 200ms;
}
.settingsFeaturesHover {
	cursor: pointer;
}
.settingsFeaturesHover:hover {
	background-color: #ffffff18;
}

.eye {
	float: right;
	position: relative;
	z-index: 1;
}

#winAnnouncer {
	position: absolute;
	max-width: calc(92vw - 2cm);
	transform: translate(-50%, -50%);
	transform-origin: top left;
	background-color: #272424;
	border: 3px solid #fcac34;
	border-radius: 18px;
	padding: 0.5cm;
}