/*Misc*/
::placeholder {
    color: black;
}

/*Global Element Style*/
body {
    font-family: 'UnifrakturCook', cursive;
    z-index: 1;
    overflow: hidden; 
    background-color: #1B0700;
}

input {
    
    background-color: transparent;
    color: white;

    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;;
    text-align: center;

    outline: none;
    border: none;
    border-bottom: 1px solid white;
    transition: 500ms;
}

button {
    background-color: transparent;
    color: white;

    font-size: 1.5rem;
    font-family: 'UnifrakturCook', cursive;
    text-align: center;

    outline: none;
    border: none;
    border: 1px solid white;

    transition: 500ms;
}

a {
    color: black;
}

button:hover {
    border: 1px solid #FCAC34; /*TODO:CHANGE*/
}

button:disabled {
    color: #4F4F4F;
}

input:hover {
    border-bottom: 1px solid #FCAC34;
}

input:disabled{
    color: #4F4F4F;
}

a:hover {
    text-decoration-color: #FCAC34;
}

/*Main Menu*/


.Background {
    z-index: -1;

    position: fixed;
    top: 0px;
    left: 0px;
}

.GameTitle {
    color: white;
    text-align: center;
    font-size: 4em;
    
    position: fixed;
    left: 50%;
    transform: translateX(-50%);

    white-space: nowrap;
}


.MenuBox {
    display: flex;

    border: 2px solid white;
    width: 20%;

    flex-direction: column;
    justify-content: center;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    padding: 4em 2em 4em 2em;
}

.MenuBox button:not(:first-child) {
    margin-top: 1em;
}



/*Submenu-Container*/
.Container {
    z-index: 2;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: gray;

    white-space: nowrap;
    font-size: 2em;

    padding: 0 1em 1em 1em; 
}

.SubContainer {
    width: 100%;
    height: 100%;
    margin-top: 1em;
    /*border: 2px solid #fe019a; /*debug*/
}

.InputBoxes {

    display: flex;
    flex-direction: column;
    justify-content: center;

}
.InputBoxes input:not(:first-child) {
    margin-top: 1em;
}

/*Game*/
.PauseButtons {

    margin-top: 1em;
    height: 6em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.Chat {    
    z-index: 2;

    position: fixed;
    left: 100%;
    top: 50%;
    transform: translate(-100%, -50%);

    background-color: gray;

    white-space: nowrap;
    font-size: 2em;

    padding: 0 1em 1em 1em; 
    width: 11em;    
}

.MessageBox {
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;

    white-space: normal;

    max-height: 6em;
}


/*HUD*/
.CoinDisplay {

    width: 10%;
    height: auto;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;

    color: white;
    background-color: gray;

    font-size: 1.5rem;
}

.CoinIcon {
    width: 15%;
    height: 15%;
}

.OpenPause {

    position: fixed;
    left: 99%;
    top: 1%;
    transform: translate(-99%, -1%);

    color: white;

    font-size: 1.5rem;
}

.OpenChat {
    position: fixed;
    left: 99%;
    top: 50%;
    transform: translate(-99%, -50%);

    color: white;

    font-size: 1.5rem;
}

.CodeText {
    text-align: center;
}

.CodeText p, a {
    margin: 0px;
}

.WaitingTextWrapper {
    color: white;

    position: fixed;
    left: 50%;
    top: 1%;
    transform: translate(-50%, -1%);
}

.SelectTitleWrapper {
    position: fixed;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -5%);
}
.SelectTitleWrapper h1 {
    margin: 0px;
}

.DescriptionWrapper {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    height: 90%;
}



/*Media*/
@media(max-width: 620px) {
    .Container {
        font-size: 1em;
    }
}

@media(max-height: 740px) {
    .MenuBox {
        padding: 1em;
    }

    .Container {
        font-size: 1em;
    }
}

/*Adjustment of Game Title*/
@media(max-height: 660px) {
    .GameTitle {
        font-size: 2em;
    }
}