.hidden {
    display: none;
}

.center-content {

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.top-margin {
    margin-top: 1em;
}

.left-margin {
    margin-left: 1em;
}

.inline {

    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.block-display{
     
}
